body{
    padding: 1%;
margin: 1%;
}

#page{
max-width: 1000px;
margin: 0px auto;
}

header{
height: 300px;
background-color: rgb(187, 108, 167);
background-image:url('css/anh.jpg');
position: relative;
}

nav{
line-height: 25px;
background-color: burlywood;
text-align: center;
}

section{
    width: 100%;
    }
    
    article{
    min-height: 200px;
    background-color: white;
    width: 75%;
    float: left;
    }
    
    aside{
    min-height: 200px;
    background-color: white;
    width: 25%;
    float: left;
    }
    
    footer{
    height: 30px;
    background-color: rgb(139, 19, 89);
    clear:both;
    border-top: 3px double darkturquoise;
    text-align: center;
    }
    
    .col-25{
    width: 50%;
    float:left;
    }
    
    .prod>.name{
    font-variant: small-caps;
    color: rgb(0, 0, 0);
    font-size: larger;
    }
    
    .prod{
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: relative;
    }
    
    .prod>.image{
    max-width: 98%;
    height: 200px;
    margin-bottom: 10px;
    }
    
    .prod>.price{
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: peru;
    }
    
    .prod>.icons{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 25px;   
    }
    
    .prod>.anhdong{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    }
    
    .menu>ul>li{
    display: inline-block;
    position: relative;
    }
    
    .menu>ul>li>a{
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    color: white;
    padding: 0 10px;
    line-height: 40px;
    }
    
    .menu>ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: rgb(241, 186, 250);
    text-align: center;
    }
    
    .menu>ul>li>a:hover{
    color: rgb(38, 39, 31);
    }
    
    .menu ul ul{
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1 gray;
    }
    
    .menu ul ul a{
    display: block;
    line-height: 30px;
    color: rgb(211, 132, 194);
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    padding: 0 10px;
    }
    
    .menu>ul>li:hover>ul{
    display: block;
    z-index: 1;
    height: auto;
    }
    
    .menu ul ul a:hover{
    background-color: orangered;
    color: white;
    }
    
    .vmenu{
    padding: 0px;
    margin: 5px;
    list-style: none;
    border-radius: 3px;
    box-shadow: 0 0 2px grey;
    }
    
    .vmenu a{
    background: url('nhunhu.png') no-repeat 10px center;
    display: block;
    border-bottom: 1px dotted rgb(78, 113, 153);
    color: rgb(102, 188, 223);
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8px 5px 8px 30px;
    }
    
    .vmenu a:hover{
    background: url('nhunhunhu.png') no-repeat 10px center;
    border-bottom: 1px dotted white;
    background-color: rgb(234, 170, 236);
    color: white;
    font-weight: bold;
    }
    
    .top-right{
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 30px;
    padding: 5px 10px 5px 20px;
    background-color: rgb(139, 124, 139);
    
    }
    
    .top-right a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-variant: small-caps;
    font-weight: bolder;
    }
    
    .top-right a:hover{
    color: yellow;
    text-shadow: 0 0 10px blue;
    }
    
    .tieude{
        position: absolute;
        left: 20px;
        bottom: 30px;
        }
        
        .tieude h1{
        font-size: 50px;
        color: white;
        font-weight: bolder;
        font-variant: small-caps;
        text-shadow: 0 0 20px rgb(31, 29, 29);
        padding-bottom: 5px;
        }
        
        .tieude p{
        text-align: justify;
        font-size: 20px;
        color:rgb(46, 37, 37);
        font-weight: bolder;
        word-spacing: 15px;
        letter-spacing: 5px;
        padding-top: 5px;
        line-height: 0px;
        }

    

    
    
    
